* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	text-align: center;
}
img {
	width: 47%;
	height: 150px;
    float: left;
    margin: 5px;
}
.cover {
	width: 90%;
    padding: 20px;
    height: -webkit-fill-available;
}
.clearfix {
	clear: both;
	content: '';
	display: inline-block;
}